{% extends "base.html.twig" %}

{% block javascripts %}
  {{ encore_entry_script_tags('home_index') }}
{% endblock javascripts %}

{% block body %}
<app-page>
  <template v-slot:default="{ addNotification }">
    <button @click="addNotification('example', 'success')">
      add
    </button>
  </template>
</app-page>
{% endblock body %}